{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div>
    {% for article in articles %}

        <h2>
            <a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}">
                {{ article.title }}
            </a>
        </h2>
        <p>{{ article.date | date('d/m/Y H:i:h') }}</p>
        <p>{{ article.content }}</p>

    {% endfor %}
</div>

{% endblock %}